/* font-family: 'Inter Tight', sans-serif;
font-family: 'Playfair Display', serif
font-family: 'Yrsa', serif; */
html{
font-size: 20px
}
body {
  margin: 0px;
  background-color: #eaf6f7;
  font-family: 'Inter Tight', sans-serif;
  color:#1b2051;
}

main {
  width: 90%;
  max-width: 1000px;
  background: #ffffff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

    /*beginning updated nav and ul, ol*/
nav {
      color: #eaf6f7;
      background-color: #1b2051;
      padding: 0;
      display: block;
      margin: 0;
      border-bottom: 3px solid #1b2051;
    }

ul, ol{
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
    /*end of updated nav and ul, ol*/

nav a{
  color: #eaf6f7;
}

a{
  font-style: italic;
  font-weight: lighter;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-style: italic;
  color: #1b2051;
}
h2{
  font-family: 'Yrsa', serif;
  font-size: 2rem;
  font-style: normal;
  color: #1b2051;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}
h3{
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  color: #eaf6f7;
}

li{
  list-style-type: none;
  font-style: italic;
}

ol li{
  text-transform: uppercase;
}

nav li, nav li a{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a{
  background-color:#1b2051;
  color: #eaf6f7;
}

.active{
  background-color: #eaf6f7;
  color: #1b2051;
  padding: 1rem;
}

/*footer section*/
footer {
background: #1b2051;
color: #eaf6f7;
width: 100%;
margin: 0;
padding: 1rem;
box-sizing: border-box;
text-align: center;
font-weight: bold;
}
/*end footer section*/

/*media sections*/
.media-holder {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

.image-holder, .text-holder{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.image-holder img{
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

/*When the browser is at least 555px wide*/
@media (min-width: 555px) {

  media-holder{
    flex-direction: row;
  }

  image-holder{
    width: 30%;
  }

  text-holder{
    width: 70%;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav li{
    width: 50%
  }
}

/*When the browser is at least 800px wide*/
@media (min-width: 800px) {

  .image-holder {
    width: 300px;
  }

  .text-holder {
    width: calc(100% - 300px);
  }

  nav li {
    width: 25%;
}
