/* font-family: 'Inter Tight', sans-serif;
font-family: 'Playfair Display', serif
font-family: 'Yrsa', serif; */

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

html{
font-size: 20px
}
body {
  margin: 0px;
  background-color: #eaf6f7;
  font-family: 'Inter Tight', sans-serif;
  color:#1b2051;
}

main {
  width: 90%;
  max-width: 1000px;
  background: #ffffff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

    /*beginning updated nav and ul, ol*/
nav {
      color: #eaf6f7;
      background-color: #1b2051;
      padding: 0;
      display: block;
      margin: 0;
      border-bottom: 3px solid #1b2051;
    }

ul, ol{
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
    /*end of updated nav and ul, ol*/

nav a{
  color: #eaf6f7;
}

a{
  font-style: italic;
  font-weight: lighter;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-style: italic;
  color: #1b2051;
  margin:0;
}
h2{
  font-family: 'Yrsa', serif;
  font-size: 2rem;
  font-style: normal;
  background-color: #1b2051;
  color: #eaf6f7;
  margin: 0;
  text-align: center;
}
h3{
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  color: #eaf6f7;
}

li{
  list-style-type: none;
  font-style: italic;
}

ol li{
  text-transform: uppercase;
}

nav li, nav li a{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a{
  background-color:#1b2051;
  color: #eaf6f7;
}

.active{
  background-color: #eaf6f7;
  color: #1b2051;
  padding: 1rem;
}

/*footer section*/
footer {
background: #1b2051;
color: #eaf6f7;
width: 100%;
margin: 0;
padding: 1rem;
box-sizing: border-box;
text-align: center;
font-weight: bold;
}
/*end footer section*/

/*media sections*/
.location-holder, .media-holder {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

.image-holder, .text-holder{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.image-holder img{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.gallery-image {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 4rem auto;
  max-width:750px;
}

.gallery-image img {
  width: 100%;
}

.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.hideThis {
  display: none;
}

button {
  background-color: #1b2051;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  cursor: pointer;
  width: 100px;
  padding: 0.8rem 1rem;
  border-radius: 5px;
}


/*When the browser is at least 555px wide*/
@media (min-width: 555px) {

  .media-holder {
    flex-direction: row;
  }

  .image-holder {
    width: 30%;
  }

  .text-holder {
    width: 70%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav li {
    width: 50%;
  }

}

/*When the browser is at least 800px wide*/
@media (min-width: 800px) {

  .image-holder {
    width: 400px;
  }

  .text-holder {
    width: calc(100% - 400px);
  }

  nav li {
    width: 25%;
  }
}
